@charset "UTF-8";
/**********************************/
/*asignacion de variables de color*/
/**********************************/
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
/**************************/
/*Variables de Uso General*/
/**************************/
.fuente-destaca-celeste {
  font-weight: bold;
  color: #206baf;
  background-color: rgba(240, 230, 140, 0.5);
  font-size: 1rem;
  border-radius: 6px; }

.fuente-destaca-bordo {
  font-weight: bold;
  color: maroon; }

.fuente-datos-tabla, td ul li, td p {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.15);
  font-size: 1rem;
  padding: 0 3px;
  margin: 2px;
  border-radius: 3px;
  text-align: center;
  line-height: 1.5rem; }

.fuente-celeste {
  color: #102e64;
  font-family: "RocknRoll One", sans-serif;
  font-size: 1.2rem;
  margin-left: 20px; }
  .fuente-celeste a:hover {
    color: orange;
    text-decoration: none; }

.fuente-404 {
  font-size: 5rem;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5); }

.fuente-grande {
  font-size: 1.2rem;
  line-height: 2rem; }

/************************/
/*APLICACIONES GENERICAS*/
/************************/
body {
  background-color: #646363; }

a:hover {
  text-decoration: none; }

h1,
h2 {
  color: whitesmoke;
  font-family: "RocknRoll One", sans-serif;
  border-radius: 3em;
  border: 1px solid white;
  text-shadow: 3px 2px 0 #7a7a7a;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-image: linear-gradient(#2b72cc, #2b4a97);
  max-width: max-content; }

/*titulo del menu izq der*/
h2.subTitulo {
  border-radius: 1em 1em 0 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 600;
  font-family: Century Gothic, Arial, Verdana, sans-serif; }

ul {
  list-style: none;
  margin-bottom: 0; }
  ul li a {
    text-decoration: none; }

p {
  color: #3b3a3a;
  font: normal 0.75rem/1.5rem "Libre Baskerville", serif; }

p.comentarioBreve {
  color: darkmagenta;
  background-color: #ebd9e2;
  border-radius: 0 0 0.5rem 0.5rem; }

select {
  background: none repeat scroll 0 0 #eee2e2;
  border: 1px solid #bbb;
  border-radius: 4px; }

.boton {
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  background-color: #4848fd;
  margin: 1px; }
  .boton a {
    color: white;
    text-decoration: none; }

.boton__disabled {
  color: #fff;
  border-radius: 3px;
  background-color: #4848fd;
  opacity: 0.5; }

.boton:hover {
  background-color: #eed099; }
  .boton:hover a {
    color: black; }

.btn-leer-mas {
  border: 1px solid #0051ff;
  color: #0051ff;
  border-radius: 3px; }

.img-rodea-texto {
  border: 10px;
  float: left; }

/***************************/
/*   CLASES GRADIENTES     */
/*                         */
/***************************/
.gradienteLineal {
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 75%); }

.gradiente-radial {
  background-color: #2f4353;
  background-image: radial-gradient(#d2ccc4 0%, #2f4353 74%); }

.gradienteLinealCaja {
  background-image: linear-gradient(#2b72cc, #2b4a97); }

section.encuadreTituloConFoto {
  box-shadow: 0 0 5px #000;
  transition: all 0.3s linear 0s;
  border: 0;
  border-radius: 0; }

section.encuadreTituloConFoto:hover {
  box-shadow: 0 0 6px 5px #fff;
  transition: all 0.3s linear 0s;
  border-radius: 6px; }

section.encuadreTituloConFoto a {
  text-decoration: none; }

section.encuadreTituloConFoto h3:hover {
  background-color: blue; }

img#imgSugeridaHoy {
  background-color: red;
  position: relative;
  animation-name: sugerida;
  animation-duration: 4s; }

@keyframes sugerida {
  0% {
    right: 0px;
    top: 0px; }
  25% {
    right: 200px;
    top: 0px; }
  50% {
    right: 200px;
    top: 200px; }
  75% {
    right: 0px;
    top: 200px; }
  100% {
    right: 0px;
    top: 0px; } }

/***************************/
/*   HTML TODOS HEADERS    */
/*     Aplica estilos      */
/***************************/
header {
  border-bottom: 3px solid tomato; }

/************************************/
/*     EFECTO ANIMACION HEADER      */
/*  parrafo bienvenida en el header */
/************************************/
#logo {
  width: 106px;
  height: 110px; }

header p {
  width: 100%;
  color: #ffffff;
  background: #333333;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  color: #ffffff;
  background: #333333;
  margin: 5px 0 20px 0;
  padding: 5px;
  text-align: center;
  border: yellow 1px solid;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  border-radius: 6px;
  animation-name: saludo;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
  animation-delay: 0s; }

@keyframes saludo {
  0% {
    font-size: 0.25rem;
    opacity: 0;
    color: #002e00;
    background-color: #dddada; }
  2% {
    font-size: 0.5rem;
    opacity: 0.1;
    color: #014701;
    background-color: #c0bfbf; }
  4% {
    font-size: 0.75rem;
    opacity: 0.2;
    color: #059b05;
    background-color: #797777; }
  8% {
    font-size: 1rem;
    opacity: 0.3;
    color: #02b802;
    background-color: #505555; }
  100% {
    opacity: 1;
    font-size: 1.5rem;
    color: greenyellow;
    background-color: #555454; } }

/*probando codigo icono menu*/
.homeMenu {
  background-image: url(../imagenes/sprite-hs.png);
  background-position: -74px -2px;
  display: inline-block;
  height: 14px;
  width: 16px;
  background-size: 160px; }

.ultimaSemMenu {
  background-image: url(../imagenes/sprite-hs.png);
  background-position: -129px -2px;
  display: inline-block;
  height: 14px;
  width: 16px;
  background-size: 169px; }

.boton-menu {
  background-image: linear-gradient(#2b72cc, #2b4a97);
  border: #262829 solid 1px;
  border-radius: 10px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.8);
  color: #fff;
  float: left;
  font-size: 1rem;
  height: 1.8rem;
  line-height: 13px;
  padding: 0.4rem 1rem;
  text-decoration: none;
  text-shadow: 1px 1px 1px #1a1c1d; }

.fondoMenu {
  background-image: linear-gradient(#262626, #121212);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px; }

nav a:hover {
  color: orange;
  background-image: linear-gradient(#2b4a97, #2b72cc);
  border-radius: 10px; }

.navbar-expand-lg .navbar-nav {
  padding-left: 0.75rem;
  margin: 0.25rem 0; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; }

.dropdown-menu {
  padding: 0; }

.navbar-toggler {
  font-size: 0.75rem;
  border: 1px solid white;
  background-image: linear-gradient(#2b72cc, #2b4a97); }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

div.dropdown-menu {
  background-image: linear-gradient(#2b72cc, #2b4a97);
  width: max-content;
  border-radius: 10px; }
  div.dropdown-menu a {
    color: #fff;
    font-size: 1rem;
    height: 1.5rem;
    line-height: 13px;
    padding: 0.2rem;
    text-decoration: none;
    text-shadow: 1px 1px 1px #1a1c1d; }
  div.dropdown-menu a:hover {
    color: orange;
    background-image: linear-gradient(#2b4a97, #2b72cc); }

/*de top 5 y ultima semana*/
main div.cartelera {
  display: flex;
  flex-flow: row wrap;
  background-color: black; }

.tarjeta-pelicula {
  background-color: #cecbcb;
  border: white 1px solid;
  border-radius: 6px;
  max-width: 270px;
  max-height: max-content;
  text-align: center; }

.titulo-pelicula, .titulo-pelicula-principal, .titulo-personal {
  display: flex;
  background-color: rgba(128, 0, 128, 0.5);
  color: white;
  text-align: center;
  border-radius: 0 0 6px 6px;
  padding: 0.25rem;
  height: 79.5px;
  width: 205px;
  align-items: center;
  justify-content: center;
  font: normal 1.25rem "Oswald", sans-serif; }

.titulo-pelicula-principal {
  width: 241px;
  margin-left: 9px; }

.titulo-personal {
  width: 141px;
  margin-left: 9px;
  background-color: rgba(88, 90, 238, 0.5); }

.fecha-pelicula, .cartel-pelicula {
  background: none 0 0 repeat scroll rgba(255, 165, 0, 0.5);
  border-radius: 6px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bolder;
  font-family: Arial, Verdana, sans-serif;
  padding: 1px 4px 2px 2px;
  text-shadow: 2px 2px 0 #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 20px 0 0 0; }

.cartel-pelicula {
  background: none 0 0 repeat scroll rgba(15, 226, 241, 0.5);
  margin: 0 0 0 20%;
  font-size: 1.5rem; }

main section article img {
  width: 247px;
  height: 364px;
  padding: 3px; }

.comentario-pelicula {
  padding: 5px;
  font: normal 0.75rem/1.5rem "Libre Baskerville", serif;
  text-indent: 3rem;
  background-color: #cbeaf3;
  width: 90%;
  border-radius: 6px;
  margin: 15px; }

.cartelera {
  justify-content: space-around; }

.caja-pelicula {
  -webkit-box-shadow: 12px 13px 12px 2px rgba(0, 0, 0, 0.98);
  box-shadow: 12px 13px 12px 2px rgba(0, 0, 0, 0.98);
  background: #fcfcfc; }

.info-pelicula-200 {
  max-width: 200px; }

.img-pelicula-250 {
  max-width: 250px; }

.caja-presentacion {
  -webkit-box-shadow: 12px 13px 12px 2px rgba(0, 0, 0, 0.98);
  box-shadow: 12px 13px 12px 2px rgba(0, 0, 0, 0.98);
  background: #d6d3d3; }

/***************************/
/*   HTML TODOS FOOTERS    */
/*  Aplica estilos LISTA   */
/***************************/
footer {
  margin-top: 30px;
  border-top: 3px solid tomato;
  padding: 5px;
  background: linear-gradient(90deg, #000, #555252); }

table {
  border: 3px solid;
  margin: 20px 0; }

th {
  color: white;
  background-color: slategray;
  border: 1px solid;
  text-align: center; }

td {
  background-color: white;
  border: 1px solid;
  text-align: center; }
  td div {
    max-height: 280px;
    min-width: 190px;
    overflow-y: auto; }

td ul li {
  display: inline-block; }

td ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0; }

.titulo-contacto {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5); }

form {
  margin: 5px;
  padding: 5px;
  background-color: #c4c2c2; }

form fieldset label {
  color: firebrick;
  margin-top: 5px; }

@media only screen and (min-width: 992px) {
  li.nav-item {
    margin-left: 25px; }
  div.dropdown-menu {
    margin-top: 5px; } }

@media only screen and (max-width: 991.98px) {
  li.nav-item {
    margin-bottom: 10px; }
  div.dropdown-menu {
    margin-top: 29px; } }

/*Esconder caja de texto muy pequeñas*/
@media only screen and (max-width: 343.98px) {
  .d-ocultar-chico,
  .d-ocultar-medio {
    display: none; }
  form fieldset input,
  textarea {
    width: 90%; }
  .fuente-404 {
    font-size: 0.7rem; }
  .img-carousel-tam {
    max-width: 90vw;
    max-height: 95vh; }
  .titulo-pelicula-principal, .titulo-pelicula, .titulo-pelicula-principal, .titulo-personal {
    max-width: 70vw;
    max-height: 70vh;
    margin-left: 0; }
  iframe {
    max-width: 250px;
    max-height: 150px; } }

@media (min-width: 344px) and (max-width: 575.98px) {
  .d-ocultar-medio {
    display: none; }
  .fuente-404 {
    font-size: 2rem; }
  .img-carousel-tam {
    max-width: 80vw;
    max-height: 90vh; }
  iframe {
    max-width: 300px;
    max-height: 200px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  iframe {
    max-width: 350px;
    max-height: 250px; }
  .fuente-404 {
    font-size: 2rem; }
  .img-carousel-tam {
    max-width: 75vw;
    max-height: 85vh; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  iframe {
    max-width: 400px;
    max-height: 300px; }
  .fuente-404 {
    font-size: 3rem; }
  .img-carousel-tam {
    max-width: 70vw;
    max-height: 80vh; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  iframe {
    max-width: 450px;
    max-height: 350px; }
  .img-carousel-tam {
    max-width: 65vw;
    max-height: 75vh; } }

@media (min-width: 1200px) {
  iframe {
    max-width: 500px;
    max-height: 400px; }
  .img-carousel-tam {
    max-width: 50vw;
    max-height: 60vh; } }

/********************************************/
/* FORMATO A TITULOS Y DETALLES DE PELICULAS*/
/********************************************/
.tituloPeliculas--azul {
  color: blue; }

.fondoTituloPel {
  background-color: #ebd9e2;
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 10px;
  margin-bottom: 0; }

/*da formato al texto del detalle de las peliculas*/
.datos-pelicula {
  background-color: #fae4c8;
  color: #28679b;
  font-family: "Saira Extra Condensed";
  padding: 5px;
  border-radius: 6px; }

/*****************************************/
/* HTML: TOP 5 ULTIMA SEMANA y NOVEDADES */
/*              Aplica estilos           */
/*****************************************/
.encuadreTituloConFoto {
  align-self: center;
  border: 3px dotted red;
  margin: 10px;
  position: relative; }
  .encuadreTituloConFoto img {
    border-radius: 6px 6px 0 0;
    width: 205px;
    height: 304px; }
