//****************************/
//*   EFECTOS TRANSICION     */
//*Al seleccionar la pelicula*/
//****************************/
section.encuadreTituloConFoto {
  box-shadow: 0 0 5px #000;
  transition: all 0.3s linear 0s;
  border: 0;
  border-radius: 0;
}

section.encuadreTituloConFoto:hover {
  box-shadow: 0 0 6px 5px #fff;
  transition: all 0.3s linear 0s;
  border-radius: 6px;
}

section.encuadreTituloConFoto a {
  text-decoration: none;
}

section.encuadreTituloConFoto h3:hover {
  background-color: blue;
}

//****************************/
//*   EFECTOS TRASLACION     */
//*En la imagen sugerida hoy */
//****************************/

img#imgSugeridaHoy {
  background-color: red;
  position: relative;
  animation-name: sugerida;
  animation-duration: 4s;
}

//simplifico el Keyframe
$coordenadasxy: (0px 0px, 200px 0px, 200px 200px, 0px 200px, 0px 0px);
@mixin mover($rig, $top) {
  right: $rig;
  top: $top;
}
@keyframes sugerida {
  @for $i from 0 through 4 {
    #{$i*25%} {
      $interm: nth($coordenadasxy, $i + 1); //extrae el par variable
      @include mover(
        nth($interm, 1),
        nth($interm, 2)
      ); //extrae valor 1 y valor 2
    }
  }
}
