/***************************/
/*   HTML TODOS FOOTERS    */
/*  Aplica estilos LISTA   */
/***************************/

footer {
  border-top: 3px solid tomato;
  padding: 5px;
  background: linear-gradient(90deg, #000, rgb(85, 82, 82));
}
