//************************************/
//*        HTML: INDEX               */
//*      Formatea el MAIN            */
//************************************/

main {
  display: flex;
  flex-flow: column nowrap;
}

main h2 {
  margin: 5px;
  text-align: center;
}

main div.cartelera {
  display: flex;
  flex-flow: row wrap;
  background-color: black;
}

main section article {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  margin: 5px;
  border: purple 3px solid;
  justify-content: center;
}

main section h3,
.card-title,
.tituloPeliculas {
  background-color: rgb(148, 50, 148);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
}

main section h4 {
  margin: 10px;
}

main section article img {
  width: 247px;
  height: 364px;
}

.comentarioPelicula {
  flex: 1;
  font-size: medium;
  line-height: 1.5em;
  padding: 5px;
}

.cartelera {
  justify-content: space-around;
}
