//************************************/
//*        HTML: INDEX               */
//*      Formatea el MENU DERECHO    */
//************************************/

#menuDerecho {
  background-color: black;
  border: purple 3px solid;
  margin-top: 100px;
  padding: 10px 0;
  text-align: center;
  align-self: center;
}

div.cajaMenuDerecho {
  align-self: center;
  border-radius: 1.5em;
  border: 1px solid white;
  text-align: center;
  font-size: 1rem;
  background-color: burlywood;
  padding-bottom: 20px;
  margin: 20px;
  input {
    width: 90%;
  }
}

#sugeridaHoy {
  color: deeppink;
  -webkit-text-stroke: 1px greenyellow;
  background-color: rgb(58, 58, 58);
  margin-bottom: 10px;
}
