//***************************/
//*   HTML: LISTA-GENERAL   */
//*Aplica estilos a la tabla*/
//***************************/

table {
  border: 3px solid;
  margin: 20px 0;
}
th {
  color: white;
  background-color: slategray;
  border: 1px solid;
  text-align: center;
}
td {
  background-color: white;
  border: 1px solid;
  text-align: center;
  width: auto;
  height: auto;
}
td ul {
  list-style: none;
  text-align: left;
}

.bd-highlight {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.15);
}
