//***************************/
//*   HTML: LISTA-GENERAL   */
//*Aplica estilos a la tabla*/
//***************************/

table {
  border: 3px solid;
  margin: 20px 0;
}
th {
  color: white;
  background-color: slategray;
  border: 1px solid;
  text-align: center;
}
td {
  background-color: white;
  border: 1px solid;
  text-align: center;
  div {
    max-height: 280px;
    min-width: 190px;
    overflow-y: auto;
  }
}

td {
  ul li {
    display: inline-block;
    @extend .fuente-datos-tabla;
  }
  p {
    @extend .fuente-datos-tabla;
  }
}

td ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
