@import "genericas";
@import "efectos";
@import "header";
@import "nav";
@import "main";
@import "footer";
@import "tabla";
@import "mediaquery";
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/**************************************/
/* MODIFICO FORMATO CARD DEL CARROUSEL*/
/**************************************/

.card-body {
  padding: 0.75rem;
  background-color: rgb(226, 224, 224);
}

/********************************************/
/* FORMATO A TITULOS Y DETALLES DE PELICULAS*/
/********************************************/

.tituloPeliculas {
  color: rgb(248, 214, 220);
  font-size: 120%;
  font-weight: 400;
  height: 1.5em;
  width: 206px;
  margin-top: 6px;
  border-radius: 6px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.tituloPeliculas--azul {
  color: blue;
}

.fondoTituloPel {
  background-color: rgb(235, 217, 226);
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 10px;
  margin-bottom: 0;
}

/*da formato al texto del detalle de las peliculas*/
.datosPelicula {
  color: rgb(40, 103, 155);
  font-family: "Saira Extra Condensed";
  padding: 5px;
}

/*****************************************/
/* HTML: TOP 5 ULTIMA SEMANA y NOVEDADES */
/*              Aplica estilos           */
/*****************************************/
.encuadreTituloConFoto {
  align-self: center;
  border: 3px dotted red;
  margin: 10px;
  img {
    width: 205px;
    height: 304px;
  }
}
