@import "colores";
@import "tipografia";
@import "genericas";
@import "efectos";
@import "header";
@import "nav";
@import "main";
@import "footer";
@import "tabla";
@import "contacto";
@import "mediaquery";

/********************************************/
/* FORMATO A TITULOS Y DETALLES DE PELICULAS*/
/********************************************/

.tituloPeliculas--azul {
  color: blue;
}

.fondoTituloPel {
  background-color: rgb(235, 217, 226);
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 10px;
  margin-bottom: 0;
}

/*da formato al texto del detalle de las peliculas*/
.datos-pelicula {
  background-color: rgb(250, 228, 200);
  color: rgb(40, 103, 155);
  font-family: "Saira Extra Condensed";
  padding: 5px;
  border-radius: 6px;
}

/*****************************************/
/* HTML: TOP 5 ULTIMA SEMANA y NOVEDADES */
/*              Aplica estilos           */
/*****************************************/
.encuadreTituloConFoto {
  align-self: center;
  border: 3px dotted red;
  margin: 10px;
  position: relative;
  img {
    border-radius: 6px 6px 0 0;
    width: 205px;
    height: 304px;
  }
}
